{% extends 'base.html.twig' %}

{% block page_title %}
    Contact - Form
{% endblock %}

{% block body %}
    <div class="box">
        <div class="box-header">
            Contact form
        </div>
        <div class="box-body" style="padding: 0">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}